body {
  background-color: rgb(233, 235, 243);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0.75%;
}

#title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
}

.input-form {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
}

label {
  font-size: 25px;
}

input[type='text'] {
  background-color: rgb(233, 235, 243);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

input[type='date'] {
  background-color: rgb(233, 235, 243);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

input[type='text']:focus {
  background-color: rgb(214, 231, 255);
}

input[type='date']:focus {
  background-color: rgb(214, 231, 255);
}

button {
  margin: 20px;
  font-size: 19px;
  color:rgb(34, 87, 156);
  background-color: rgb(233, 235, 243);
  border-color:rgb(233, 235, 243)
}

.btn-delete {
  margin: 10px;
  font-size: 19px;
  color:rgb(107, 142, 187);
  background-color: rgb(233, 235, 243);
  border-color:rgb(233, 235, 243)
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
}

.cards {
  border-style: solid;
  text-align: center;
  width: 300px;
}
